.sidebar {
    width: 250px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  .sidebar a {
    color: #232323;
  }
  .sidebar a.active{  
    background-color: #002F6B;
    color: white;
  }
  .sidebar-icon {
    color: #F48026;
  }

  .sidebar a:hover:not(.active) {
    background-color:rgba(0, 44, 104, 0.2);
  }