<div>
  <div class="add-event">
    <h2>{{ data.date }}</h2>
    <button mat-icon-button aria-label="Example icon button with a heart icon" (click)="openDialog()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <div *ngIf="data.meetings.length === 0">
    <p>No Planned Meetings today</p>
  </div>
  <div *ngIf="data.meetings.length > 0">
    <div *ngFor="let meeting of data.meetings" class="meeting-card" (click)="openEditDialog(meeting)">
      <span>{{ meeting.title }}</span> <span>{{meeting.hour}}</span>
    </div>
  </div>
</div>
