.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .full-width {
    width: 100%;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 30px;
  }
  .create-event-card{
    display: flex;
    justify-content: space-between;
  }

  .card-title{
    font-size:large;
    font-weight: 500;
  }
  // .mat-step-icon-selected {
  //   background-color: red;
  // }
