// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f7f7;
}

app-root {
  display: flex;
}

.form-container {
  width: 350px;
  border-top: 8px solid #002f6b;
}

.text1 {
  color: #f48026;
  font-size: 30px;
}

.text2 {
  margin-top: 10px;
  color: #002f6b;
  font-size: 20px;
}

.form-input {
  border: 2px solid #e5e7eb;
}
.form-input:focus {
  border-color: #002f6b;
  outline: none;
  box-shadow: 0 0 0 1px #002f6b;
}
.form-checkbox:checked {
  background-color: #f48026;
  border-color: #002f6b;
}

.w-full {
  background-color: #002f6b;
}

.w-full:hover {
  background-color: #f48026;
  color: white;
}

.b-full {
  width: 100%;
}

.text {
  color: #f48026;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.calendar {
  width: 70%;
  margin: auto;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.calendar {
  width: 70%;
  margin: auto;
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-step-icon-selected {
  background-color: #002f6b;
}

// Define custom primary palette based on the provided colors
$custom-primary-palette: (
  50: #e5e7eb,
  100: #b3c0d6,
  200: #8099c1,
  300: #4d72ac,
  400: #25599a,
  500: #002f6b, // Focus border color
  600: #002a60,
  700: #002455,
  800: #001f4b,
  900: #00163a,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

// Define custom accent palette based on the provided colors
$custom-accent-palette: (
  50: #ffe7d1,
  100: #ffcea3,
  200: #ffb575,
  300: #ff9d47,
  400: #ff881f,
  500: #f48026, // Checkbox background color
  600: #e67822,
  700: #d86e1e,
  800: #ca641a,
  900: #b85512,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

// Define the theme
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: mat.define-typography-config(
    $font-family: sans-serif,
  ),
));


@include mat.all-component-themes($custom-theme);
