<div class="sidebar h-screen flex flex-col">
  <div class="p-6">
    <h1 class="text1 font-bold">Recruitment</h1>
    <h1 class="text1 font-bold">Assistant</h1>
  </div>
  <nav class="flex-1 px-4">
    <ul>
      <li>
        <a
          href="#"
          routerLink="/dashboard"
          routerLinkActive="active"
          class="flex items-center py-3 px-4 rounded transition duration-200 hover:bg-purple-100 active"
          ><i class="fas fa-home mr-3 sidebar-icon"></i>Dashboard</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="/schedule"
          routerLinkActive="active"
          class="flex items-center py-3 px-4 rounded transition duration-200 hover:bg-gray-100"
          ><i class="fas fa-calendar-alt mr-3 sidebar-icon"></i>Schedule</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="/analytics"
          routerLinkActive="active"
          class="flex items-center py-3 px-4 rounded transition duration-200 hover:bg-gray-100"
          ><i class="fas fa-chart-bar mr-3 sidebar-icon"></i>Analytics</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="/vacancies"
          routerLinkActive="active"
          class="flex items-center py-3 px-4 rounded transition duration-200 hover:bg-gray-100"
          ><i class="fas fa-briefcase mr-3 sidebar-icon"></i>Vacancies</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="/candidates"
          routerLinkActive="active"
          class="flex items-center py-3 px-4 rounded transition duration-200 hover:bg-gray-100"
          ><i class="fas fa-users mr-3 sidebar-icon"></i>Candidates</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="/offers"
          routerLinkActive="active"
          class="flex items-center py-3 px-4 rounded transition duration-200 hover:bg-gray-100"
          ><i class="fas fa-file-contract mr-3 sidebar-icon"></i>Offers</a
        >
      </li>
    </ul>
  </nav>
  <div class="px-4 py-4">
    <a
      href="#"
      routerLink="/settings"
          routerLinkActive="active"
      class="block py-3 px-4 rounded transition duration-200 hover:bg-gray-100 flex items-center"
      ><i class="fas fa-cog mr-3 sidebar-icon"></i>Settings</a
    >
    <a
      href="#"
      class="block py-3 px-4 rounded transition duration-200 hover:bg-gray-100 flex items-center"
      ><i
        class="fas fa-sign-out-alt mr-3 sidebar-icon"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      ></i
      >Log out</a
    >
  </div>
</div>
