<h2 mat-dialog-title>Add a vacant position</h2>
<mat-dialog-content>
    Casuta text pentru nume post<br><br>

    Casuta text pentru nume departament<br><br>

    Casuta de selectat Full-Time sau Part-Time<br><br>

    Casuta de selectat statusul postului<br><br>
    
    Casuta tip data-time pentru a stabili DeadLine<br><br>

    Casuta text pentru locatia unde se lucreaza pentru postul respectiv
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Add</button>
</mat-dialog-actions>
