button {
  margin-right: 8px;
}

.add-button {
  background-color: hsl(145, 100, 25);
}
.add-button:hover {
  background-color: rgb(29, 134, 29);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
