<main class="main-content flex-1">
  <div class="headbar">
    <mat-form-field style="width: 415px">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
    <button
      class="custom-button"
      mat-button
      (click)="openDialog()"
    >
      Add New Vacancy
    </button>
  </div>
  <div>
    <div class="bg-white p-4 rounded-lg shadow-lg">
      <table mat-table [dataSource]="dataSource">
        <!-- The name of the post cplumn -->
        <ng-container matColumnDef="positionName">
          <th mat-header-cell *matHeaderCellDef>
            <div class="font-bold">Position Name</div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.positionName }}</td>
        </ng-container>

        <!-- The department name column -->
        <ng-container matColumnDef="nameDepartment">
          <th mat-header-cell *matHeaderCellDef>
            <div class="font-bold">Department</div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.nameDepartment }}</td>
        </ng-container>

        <!-- The type of josb column -->
        <ng-container matColumnDef="jobType">
          <th mat-header-cell *matHeaderCellDef>
            <div class="font-bold">Job Type</div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.jobType }}</td>
        </ng-container>

        <!-- The status column -->
        <ng-container matColumnDef="statusType">
          <th mat-header-cell *matHeaderCellDef>
            <div class="font-bold">Status</div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.statusType }}</td>
        </ng-container>

        <!-- The deadLine column -->
        <ng-container matColumnDef="deadLine">
          <th mat-header-cell *matHeaderCellDef>
            <div class="font-bold">DeadLine</div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.deadLine }}</td>
        </ng-container>

        <!-- The location column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>
            <div class="font-bold">Location</div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.location }}</td>
        </ng-container>

        <!-- The action column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="table-row"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
  </div>
</main>
