<mat-card>
  <mat-card-content>Creare eveniment</mat-card-content>
</mat-card>
<mat-dialog-content class="creat-event-full-width">
  <form [formGroup]="eventFormGroup">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>Titlul evenimentului</ng-template>
        <mat-form-field class="title-full-width">
          <mat-label>Titlul</mat-label>
          <input
            matInput
            placeholder="Interviu cu [Numele Candidatului]"
            formControlName="titleCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Data si ora</ng-template>
        <mat-form-field class="date-full-width">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> 
        </mat-form-field>
        <br />
        <mat-form-field class="hour-full-width">
          <mat-label>Ora începerii</mat-label>
          <input
            matInput
            formControlName="startTimeCtrl"
            placeholder="Ex: 9:00"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field class="term-full-width">
          <mat-label>Durata interviului</mat-label>
          <input
            matInput
            formControlName="durationCtrl"
            placeholder="Ex: 1 oră"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Locatia</ng-template>
        <mat-form-field class="location1-full-width">
          <mat-label>Locatia fizică</mat-label>
          <input
            matInput
            formControlName="physicalLocationCtrl"
            placeholder="Adresa locaţiei interviului"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field class="location2-full-width">
          <mat-label>Locatie online</mat-label>
          <input
            matInput
            formControlName="onlineLocationCtrl"
            placeholder="Link-ul de videoconferinta(ex: Zoom, Teams)"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Participanţi</ng-template>
        <mat-form-field class="interviewers-full-width">
          <mat-label>Intervievatori</mat-label>
          <input
            matInput
            formControlName="interviewersCtrl"
            placeholder="Numele si functiile intervievatorilor"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field class="email-full-width">
          <mat-label>Email candidat</mat-label>
          <input
            type="email"
            matInput
            formControlName="emailCtrl"
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              eventFormGroup.get('emailCtrl')?.hasError('email') &&
              !eventFormGroup.get('emailCtrl')?.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error
            *ngIf="eventFormGroup.get('emailCtrl')?.hasError('required')"
          >
            Email is <strong>required</strong>
          </mat-error> </mat-form-field
        ><br />
        <mat-form-field class="phone-full-width">
          <mat-label>Telefon</mat-label>
          <span matPrefix>+04 &nbsp;</span>
          <input
            type="tel"
            matInput
            formControlName="phoneCtrl"
            placeholder="555-555-1234"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Descrierea evenimentului</ng-template>
        <mat-form-field class="description-full-width">
          <mat-label>Descriere</mat-label>
          <input
            matInput
            placeholder="Descrierea interviului si instrucţiuni speciale"
            formControlName="descriptionCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Documente ataşate</ng-template>
        <mat-form-field class="cv-full-width">
          <mat-label>CV-ul</mat-label>
          <input matInput formControlName="cvCtrl" required /> </mat-form-field
        ><br />
        <mat-form-field class="letter-full-width">
          <mat-label>Scrisoarea de intenţie</mat-label>
          <input
            matInput
            formControlName="letterCtrl"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field class="documents-full-width">
          <mat-label>Alte documente</mat-label>
          <input matInput formControlName="otherDocsCtrl" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="addEvent()">Add event</button>
          <button mat-button type="button" (click)="stepper.reset()">
            Reset
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</mat-dialog-content>
