
<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="form-container bg-white p-8 rounded-lg shadow-lg">
      <div class="form-header text-center mb-6">
        <h1 class="text-3xl font-bold">HR Connect</h1>
        <p class="text-xl">Verify email</p>
      </div>
      <form class="space-y-6">
        <div>
          <label for="email" class="block text-gray-700 font-medium"
            >Verify your email and go to Login</label
          >
        </div>
        <div class="text-center text-gray-700 mt-4">
          <p>
            Go to 
            <a
              href="#"
              routerLink="/login"
              routerLinkActive="active"
              class="text-green-500 hover:underline font-semibold"
              >Login</a
            >
          </p>
        </div>
      </form>
    </div>
</div>
