button {
    margin-right: 8px;
  }
  
  .add-button {
    background-color: #002F6B;
    color: white;
  }
  .add-button:hover {
    background-color: #F48026;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  