<mat-dialog-content>
    <form [formGroup]="applyForm">
      <p>Complete the name field</p>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input
        formControlName="name"
          matInput
          placeholder=""
          value=""
        />
      </mat-form-field>
      <p>Coplete the email field</p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
        formControlName="email"
          matInput
          placeholder="Ex. name.sth@gmail.com"
          value=""
        />
      </mat-form-field>
      <p>Coplete the phone number field</p>
      <mat-form-field class="example-full-width">
        <mat-label>Phone Number</mat-label>
        <input
        formControlName="phone"
          matInput
          placeholder="Ex. 0XXXYYYZZZ"
          value=""
        />
      </mat-form-field>
      <p>Coplete the cv field</p>
      <mat-form-field class="example-full-width">
        <mat-label>CV</mat-label>
        <input
        formControlName="cv"
          matInput
          placeholder="Ex. Link"
          value=""
        />
      </mat-form-field>
      <p>Coplete the link for other documents</p>
      <mat-form-field class="example-full-width">
        <mat-label>Other Documents</mat-label>
        <input
        formControlName="otherDocuments"
          matInput
          placeholder="Ex. Link"
          value=""
        />
      </mat-form-field>
      <p>Chose the position name</p>
      <mat-form-field>
      <mat-label for="position-name">Position name</mat-label>
      <mat-select formControlName="positionName" required>
        <mat-option>--</mat-option>
        @for (postName of postNames; track postName) {
        <mat-option [value]="postName.name">{{ postName.name }}</mat-option>
        }
      </mat-select>
      @if (applyForm.get('positionName')?.hasError('required')) {
      <mat-error>Please choose post name</mat-error>
      } </mat-form-field
    ><br />
    <p>Chose the department name</p>
    <mat-form-field>
      <mat-label for="department">Department name</mat-label>
      <mat-select formControlName="department" required>
        <mat-option>--</mat-option>
        @for (department of departments; track department) {
        <mat-option [value]="department">{{ department.name }}</mat-option>
        }
      </mat-select>
      @if (departmentControl.hasError('required')) {
      <mat-error>Please choose post name</mat-error>
      }
    </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button class="add-button" mat-raised-button color="primary" (click)="addNewcandidate()" >Add</button>
  </mat-dialog-actions>