/* You can add global styles to this file, and also import other style files */
.form-container {
  max-width: 500px;
  border-top: 8px solid #51b206;
}
.form-header {
  color: #51b206;
}
.form-input {
  border: 2px solid #e5e7eb;
}
.form-input:focus {
  border-color: #51b206;
  outline: none;
  box-shadow: 0 0 0 1px #51b206;
}
.form-checkbox:checked {
  background-color: #51b206;
  border-color: #51b206;
}
